:root {
    --bg-black-900: #f2f2fc;
    --bg-black-100: #fdf9ff;
    --bg-black-50: #e8dfec;
    --text-black-900: #302e4d;
    --text-black-700: #504e70;

}

body {
    box-sizing: none;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'poppins';
}

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    box-sizing: border-box;
}

::before,
::after {
    box-sizing: border-box;
}

/* ========== Common Styling ============== */
ul {
    list-style: none;
}

.padd-15 {
    padding-left: 15px;
    padding-right: 15px;
}

.hidden{
    display: none !important;
}


/* ============ Aside Contanier ============= */
.aside {
    width: 270px;
    background-color: var(--text-black-100);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-right: 1px solid var(--bg-black-50);
}

.aside .logo {
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.aside .logo a {
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}

.aside .logo a span {
    font-family: "Clicker Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
}

.aside .logo a::before {
    content: '';
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    position: absolute;
    bottom: 0;
    left: 0;
}

.aside .logo a::after {
    content: '';
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    position: absolute;
    top: 0;
    right: 0;
}

.aside .nav-toggler {
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    top: 20px;
    left: 300px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    justify-content: center;
    align-items: center;
}

.aside .nav-toggler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}

.aside .nav-toggler span::before {
    content: '';
    position: absolute;
    top: -6px;
    left: 0;
    height: 2px;
    width: 18px;
    background-color: var(--skin-color);
}

.aside .nav-toggler span::after {
    content: '';
    position: absolute;
    top: 6px;
    left: 0;
    height: 2px;
    width: 18px;
    background-color: var(--skin-color);
}

.aside .nav {
    margin-top: 50px;
}

.aside .nav li {
    margin-bottom: 20px;
    display: block;
}

.aside .nav li a {
    font-size: 16px;
    font-weight: 600;
    padding: 5px 15px;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
}

.aside .nav li a i {
    margin-right: 15px;
}

.aside .nav li a.active {
    color: var(--skin-color);
}

/* ================ Main Content ===================== */
.section {
    background-color: var(--bg-black-900);
    min-height: 100vh;
    opacity: 1;
    padding: 0 30px;
    display: block;
}
.main-content{
    padding-left: 270px;
}
.container {
    max-width: 1100px;
    margin: auto;
    width: 100%;
}

.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.section .container{
    padding-top: 60px;
    padding-bottom: 70px;
}

/* ============= Home Section Image ============== */
.home {
    height: 100vh;
    display: flex;
    color: var(--text-black-900);
}

.home .home-img img {
    height: 400px;
    margin: auto;
    border-radius: 5px;
}

.home .home-img {
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}

.home .home-img::after {
    content: '';
    position: absolute;
    bottom: -40px;
    right: -20px;
    height: 80px;
    width: 80px;
    border-bottom: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
}

.home .home-img::before {
    content: '';
    position: absolute;
    top: -40px;
    left: -20px;
    height: 80px;
    width: 80px;
    border-top: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
}

.home .home-info {
    flex: 0 0 60%;
    max-width: 60%;
}

h3.hello,
h3.my-profession {
    font-size: 28px;
    margin: 15px 0;
}

h3.hello span {
    font-family: "Clicker Script", cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}

.typing {
    color: var(--skin-color);
}

.home-info p {
    margin-bottom: 70px;
    font-size: 20px;
}

/* ============== Button ================= */
.btn {
    font-weight: 500;
    font-size: 16px;
    padding: 12px 35px;
    background-color: var(--skin-color);
    color: white;
    border: 1px solid var(--bg-black-900);
    border-radius: 40px;
    display: inline-block;
    white-space: nowrap;
    transition: all 0.3s ease;
}

.btn:hover {
    transform: scale(1.05);
}


/*  ================== About Section ================== */
.section-title{
   flex: 0 0 100%;
   max-width: 100%;
   text-transform: capitalize;
   margin-bottom: 60px;
}
.section-title h2{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}
.section-title h2::before{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}
.section-title h2::after{
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.about .about-content{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    color: var(--text-black-900);
}
.about .about-content .about-text h3 span{
    color: var(--skin-color);
}
.about .about-content .about-text p{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
}
.about .about-content .personal-info{
    flex: 0 0 60%;
    max-width: 60%;
    margin-top: 40px;
}
.about .about-content .skills{
    flex: 0 0 40%;
    max-width: 40%;
    margin-top: 40px;
}
.about .about-content .personal-info .info-item{
    flex: 0 0 50%;
    max-width: 50%;
}
.about .about-content .personal-info .info-item p{
    font-weight: 600;
    padding: 10px 0;
    font-size: 16px;
    color: var(--text-black-900);
    border-bottom: 1px solid var(--bg-black-50);
}
.about .about-content .personal-info .info-item p span{
     font-weight: 400;
     color: var(--text-black-700);
     margin-left: 4px;
     display: inline-block;
}
.about .about-content .personal-info .buttons{
    margin-top: 30px;
}
.about .about-content .personal-info .buttons .btn{
    margin-right: 15px;
    margin-top: 10px;
}

.about .about-content .skills .skill-item{
    flex: 0 0 100% ;
    max-width: 100%;
    background-color: yellow;
}