/* -----------------------------
Fonts 
------------------------------ */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


/* ----------------------------------
  Variables 
  ------------------------------------ */
:root {
    --main-color: #03090d;
    --blue: #11212D;
    --lightBlue: #25374B;
    --light1: #4A5C6A;
    --light2: #9BA8AB;
    --cream: #ccd0CF;
    --white: #ffffff;
    --white-alpha-40: rgba(255, 255, 255, 0.40);
    --white-alpha-25: rgba(255, 255, 255, 0.25);
    --black-filter-blur: blur(5px);
}



/* --------------------------------------
 Global Settings 
 ---------------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

::before,
::after {
    box-sizing: border-box;
}

body {
    min-height: 90vh;
    background-image: linear-gradient(to bottom right, var(--main-color), var(--light2));
    color: var(--main-color);
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
    padding: 5vh 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;
}

body::before {
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: var(--cream);
    z-index: -1;
    opacity: 0.12;
}
h1, h2{
    font-weight: 600;
 }
h3, h4, h5, h6{
    font-weight: 500 ;
}
a{
    text-decoration: none;
}

section {
    background-color: var(--white-alpha-25);
    border: 2px solid var(--white-alpha-40);
    min-height: 90vh;
    border-radius: 30px;
    backdrop-filter: var(--black-filter-blur);
}

.main {
    width: 1500px;
    margin: auto;
}

.container {
    padding: 0 40px;
    width: 100%;
}

img {
    max-width: 100%;
    vertical-align: middle;
}
.home-section {
    display: flex;
    padding: 0 120px;
}

.align-items-center {
    align-items: center;
}
.hidden{
    display: none !important;
}

/* ------------------------------------
  Custom Scrollbar 
  ------------------------------------ */
  ::-webkit-scrollbar{
    width: 5px;
  }
  ::-webkit-scrollbar-track{
    background-color: var(--white);
  }
  ::-webkit-scrollbar-thumb{
    background-color: var(--main-color);
  }

/* ----------------- 
Buttons 
----------------- */
.btn{
    line-height: 1.5;
    background-color: var(--white-alpha-25);
    padding: 10px 28px;
    display: inline-block;
    border: 1ps solid var(--white-alpha-40);
    border-radius: 30px;
    color: var(--main-color);
    font-weight: 500;
    text-transform:capitalize;
    font-family: inherit;
    font-size: 16px;
    cursor: pointer;
    user-select: none;
    position: relative;
    overflow: hidden;
    vertical-align: middle;
    transition: color 0.3s ease;
}
.btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--main-color);
    width: 0%;
    height: 100%;
    z-index: -1;
    transition: width 0.3s ease;
}
.btn:hover::before{
    width: 100%;
}
.btn:hover{
    color: var(--white);
}
/* -------------------------------
   Home Section 
--------------------------------- */

.row {
    display: flex;
    flex-wrap: wrap;
}

.home-img,
.home-text {
    width: 50%;
    padding: 15px;
}

.home-text p {
    font-size: 19px;
}

.home-text h1 {
    font-size: 50px;
    text-transform: capitalize;
}

.home-text h2 {
    font-size: 23px;
    text-transform: capitalize;
    font-weight: 300;
    margin: 0 0 30px;
}
.home-text .btn{
    margin: 0 15px 15px 0;
}

.home-img .img-box {
    max-width: 360px;
    background-color: var(--white-alpha-25);
    border: 8px solid var(--white-alpha-25);
    border-radius: 50%;
    margin: auto;
}

.home-img .img-box img {
    width: 100%;
    border-radius: 50%;
}