/* ----------------------------------
  Variables 
  ------------------------------------ */
:root {
    --main-color: #03090d;
    --blue: #11212D;
    --lightBlue: #25374B;
    --light1: #4A5C6A;
    --light2: #9BA8AB;
    --cream: #ccd0CF;
    --white: #ffffff;
    --white-alpha-40: rgba(255, 255, 255, 0.40);
    --white-alpha-25: rgba(255, 255, 255, 0.25);
    --black-filter-blur: blur(5px);
}



/* --------------------------------------
 Global Settings 
 ---------------------------------------- */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
}

::before,
::after {
    box-sizing: border-box;
}
body{
    min-height: 90vh;
    background-image: linear-gradient(to bottom right, var(--main-color),var(--light2));
    color: var(--cream);
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    -webkit-tap-highlight-color: transparent;
}
body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%;
    background-color: var(--cream);
    z-index: -1;
    opacity: 0.12;
}
.main{
    background-color: var(--light2);
    width: 1200px;
    margin: auto;
}